/*--------------------Variables-----------------------*/
  $Main: #ffff;
  $Sub-Header: #F1F4F5;
  $Button-Color: #EF5F60;
  $P-color: #8E8E8E;
  $Footer: #2D2D30;
  $Hover: #88D7C6;
  $H-Color: #4D4D4D;
  $Weight: 1500px;
body{
  background-color: $Main;
}
.container{
  width: $Weight;
  font-family: "Arial Narrow";
  margin: auto;
}
.clearfix{
  clear: both;
  float: none;
}
.Common {
  color: $P-color;
  font-size: 17px;
}
.Dash{color: $Button-Color;}
.Text_box1{font-size: 20px;}
/*--------------------/Variables-----------------------*/
/*--------------------Header--------------------------*/

header div.container {
  section {
    float: left;
    padding-top: 45px;
  }

  nav {
    float: right;
    text-align: right;
    padding-top: 45px;

    ul li {
      display: inline-block;

      a {
        text-decoration: none;
        padding: 25px;
        color: black;
        font-size: 13px;
        font-weight: bolder;
        &:hover {
          color: $Hover;
          text-decoration: none;
        }
      }

      div.but {
        background-color: $Button-Color;
        position: relative;
        width: 30px;
        height: 30px;
        margin-bottom: -8px;
        float: right;

        i.fa {
          color: $Main;
          font-size: 10px;
          top: 6px;
          right: 10px;
          position: relative;
        }
      }
    }
  }
}
/*--------------------/Header--------------------------*/
/*--------------------sub_Header----------------------*/
div#Sub{
  background-color: $Sub-Header;
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: 40px;
  h1,h6{
    margin-left: 60px;
  }
    h1#Text{
      font-size: 40px;
      margin-top: 50px;
      color: $H-Color;
      font-family: "Advent Pro";
  }
    h6.Text_M{margin-top: 20px;}
    font-family: "Arial Narrow";
}
/*--------------------/sub_Header----------------------*/
/*-----------------------Sub2-------------------------*/
div.Box1{
  position: relative;
  top: 240px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  h1.Mrg{
    position: absolute;
    margin:  0;
    bottom: 10px;
  }
  button.btn{
    background-color: $Button-Color;
    color: white;
    position: absolute;
    right:  0;
    bottom: 10px;
}  }
/*-----------------------/Sub2-------------------------*/
/*------------------------Main------------------------*/
 div.Pic {
   position: relative;
   top: 240px;
   .con, .con1, .con2, .con3, .con4, .con5, .con6, .con7, .con8 {
     display: inline-block;
     position: relative;
   }
   img {
     width: 367px;
     height: 367px;
     display: inline-block;
     padding-top: 10px;
   }
   img.Pading {padding: 10px 10px 0 10px;}
   .overlay1{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgb(135, 135, 135);
   background: linear-gradient(140deg, rgba(135, 135, 135, 1) 0%, rgba(23, 23, 23, 1) 100%) no-repeat;
   overflow: hidden;
   width: 367px;
   height: 0;
   transition: .5s ease;
     .Circle {
     position: relative;
     border: 5px solid white;
     border-radius: 50%;
     margin: auto;
     width: 210px;
     height: 210px;
       .Img2 {
       position: absolute;
       margin-left: -5px;
       margin-top: -5px;
       padding: 10px;
     }
       .Plus {
       display: inline-block;
       position: relative;
       background-color: #87DCC9;
       border-radius: 50%;
       width: 50px;
       height: 50px;
       margin-top: 70px;
       margin-left: 180px;
         i.fa {
         margin-left: 13px;
         margin-top: 12px;
         font-size: 30px;
       }
     }
   }
   .text {
     color: white;
     font-size: 23px;
     position: absolute;
     top: 235px;
     left: 50%;
     display: inline-block;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     text-align: center;
   }
     .Address {
       position: absolute;
       color: #87DCC9;
       font-size: 20px;
       margin-left: 110px;
       margin-top: 50px;
       opacity: 0.5;
       text-decoration: none;
     }
   .Butn {
     position: absolute;
     margin-top: 80px;
     width: 250px;
     height: 60px;
     margin-left: 60Px;
     .Butn-Hover-L, .Butn-Hover-R {
       position: relative;
       border: 3px solid white;
       width: 125px;
       height: 60px;
       background-color: transparent;
       color: white;
     }
     .Butn-Hover-L {float: left;}
     .Butn-Hover-R {
       border-left: none;
       float: right;
     }
   }
 }
   .con:hover .overlay1 {height: 97.5%;}
   .con1:hover .overlay1 {height: 97.5%;}
   .con2:hover .overlay1 {height: 97.5%;}
   .con3:hover .overlay1 {height: 97.5%;}
   .con4:hover .overlay1 {height: 97.5%;}
   .con5:hover .overlay1 {height: 97.5%;}
   .con6:hover .overlay1 {height: 97.5%;}
   .con7:hover .overlay1 {height: 97.5%;}
   .con8:hover .overlay1 {height: 97.5%;}
 }
/*------------------------/Main------------------------*/
/*------------------------Sub-Main--------------------*/
div.Sub_Main_T{
  position: relative;
  text-align: center;
  margin-top: 300px;
  h1{
    position: absolute;
    padding-left: 380px;
    font-size: 20px;
  }
  button{
    background-color: $Button-Color;
    width: 120px;
    height: 35px;
    border: none;
    color: $Main;
    margin-top: 40px;
    margin-right: 44px;
    a{
      color: $Main;
      margin: 0;
      padding: 0;
    }
  }
  span{font-size: 12px;}
}
div.Sub_Main_B{
  position: relative;
  margin-top: 50px;
  h1{margin-left: 0;}
  h6{padding-top: 40px;}
}
/*------------------------/Sub-Main--------------------*/
/*-------------------------social---------------------*/
div.Social{
  position: relative;
  margin-top: 50px;

  ul li{display: inline-block;
    img{
      width: 110px;
      height: 110px;
      border-radius: 50%;
      margin-left: 90px;
    }
    h1{
      margin-top: 20px;
      margin-left: 100px;
    }
    h6{
      margin-top: 20px;
      margin-left: 30px;
      text-align: center;
    }
  }
}
div.Tp{
  margin-top: 80px;
  .Top-F{
    margin: 0;
    padding-bottom: 30px;
  }
}

div.Top-L-Footer{
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  margin-left: -2px;
  .L1{
    position: relative;
    float: left;
  }
  .L2{
    position: relative;
    display: inline-block;
    float: right;
    padding-right: 20px;
  }
}
div.Top-R-Footer{
  position: relative;
  display: inline-block;
  width: 50%;
  float: right;
  .R1{
    display: inline-block;
    float: left;
  }
  .R2{
    display: inline-block;
    float: right;
    padding-right: 20px;
  }
}
.Common-LR{color: #D3D3D3 ;}
.MC{margin-top: 42px;}
/*------------------------/Social--------------------*/
/*-------------------------FOOTER--------------------*/
.Footer{
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 130px;
  background-color: $Footer;
  text-align: center;
  height: 200px;
  p{
    margin-bottom: 20px;
    margin-top: 80px;
    i.fa{font-size: 14px;}
  }
  div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    color: white;
    i.fa{
      margin: auto;
      padding-top: 7px;
    }
  }
  .Feed{background-color: #FBAA56;}
  .Face-Book{background-color: #667EB7;}
  .Tumblr{background-color: #6CC1EB;}
  .Dribbble{background-color: #E498C3;}
  .Pin{background-color: #DA535B;}
  h1 a i.fa{
    margin-right: 1100px;
    font-size: 50px;
  }
}
/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*-------------------------FOOTER--------------------*/