/*--------------------Variables-----------------------*/
body {
  background-color: #ffff;
}

.container {
  width: 1129px;
  font-family: "Arial Narrow";
  margin: auto;
}

.clearfix {
  clear: both;
  float: none;
}

.Common {
  color: #8E8E8E;
  font-size: 17px;
}

.Dash {
  color: #EF5F60;
}

.Text_box1 {
  font-size: 20px;
}

/*--------------------/Variables-----------------------*/
/*--------------------Header--------------------------*/
header div.container section {
  float: left;
  padding-top: 45px;
}
header div.container nav {
  float: right;
  text-align: right;
  padding-top: 45px;
}
header div.container nav ul li {
  display: inline-block;
}
header div.container nav ul li a {
  text-decoration: none;
  padding: 25px;
  color: black;
  font-size: 13px;
  font-weight: bolder;
}
header div.container nav ul li a:hover {
  color: #88D7C6;
  text-decoration: none;
}
header div.container nav ul li div.but {
  background-color: #EF5F60;
  position: relative;
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  float: right;
}
header div.container nav ul li div.but i.fa {
  color: #ffff;
  font-size: 10px;
  top: 6px;
  right: 10px;
  position: relative;
}

/*--------------------/Header--------------------------*/
/*--------------------sub_Header----------------------*/
div#Sub {
  background-color: #F1F4F5;
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: 40px;
  font-family: "Arial Narrow";
}
div#Sub h1#Text {
  font-size: 40px;
  margin-top: 50px;
  color: #4D4D4D;
  font-family: "Advent Pro";
}
div#Sub h6.Text_M {
  margin-top: 20px;
}

/*--------------------/sub_Header----------------------*/
/*-----------------------Sub2-------------------------*/
div.Box1 {
  position: relative;
  top: 240px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}
div.Box1 h1.Mrg {
  position: absolute;
  margin: 0;
  bottom: 10px;
}
div.Box1 button.btn {
  background-color: #EF5F60;
  color: white;
  position: absolute;
  right: 0;
  bottom: 10px;
}

/*-----------------------/Sub2-------------------------*/
/*------------------------Main------------------------*/
div.Pic {
  position: relative;
  top: 240px;
}
div.Pic .con, div.Pic .con1, div.Pic .con2, div.Pic .con3, div.Pic .con4, div.Pic .con5, div.Pic .con6, div.Pic .con7, div.Pic .con8 {
  display: inline-block;
  position: relative;
}
div.Pic img {
  width: 367px;
  height: 367px;
  display: inline-block;
  padding-top: 10px;
}
div.Pic img.Pading {
  padding: 10px 10px 0 10px;
}
div.Pic .overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #878787;
  background: linear-gradient(140deg, #878787 0%, #171717 100%) no-repeat;
  overflow: hidden;
  width: 367px;
  height: 0;
  transition: 0.5s ease;
}
div.Pic .overlay1 .Circle {
  position: relative;
  border: 5px solid white;
  border-radius: 50%;
  margin: auto;
  width: 210px;
  height: 210px;
}
div.Pic .overlay1 .Circle .Img2 {
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
  padding: 10px;
}
div.Pic .overlay1 .Circle .Plus {
  display: inline-block;
  position: relative;
  background-color: #87DCC9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 70px;
  margin-left: 180px;
}
div.Pic .overlay1 .Circle .Plus i.fa {
  margin-left: 13px;
  margin-top: 12px;
  font-size: 30px;
}
div.Pic .overlay1 .text {
  color: white;
  font-size: 23px;
  position: absolute;
  top: 235px;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
div.Pic .overlay1 .Address {
  position: absolute;
  color: #87DCC9;
  font-size: 20px;
  margin-left: 110px;
  margin-top: 50px;
  opacity: 0.5;
  text-decoration: none;
}
div.Pic .overlay1 .Butn {
  position: absolute;
  margin-top: 80px;
  width: 250px;
  height: 60px;
  margin-left: 60Px;
}
div.Pic .overlay1 .Butn .Butn-Hover-L, div.Pic .overlay1 .Butn .Butn-Hover-R {
  position: relative;
  border: 3px solid white;
  width: 125px;
  height: 60px;
  background-color: transparent;
  color: white;
}
div.Pic .overlay1 .Butn .Butn-Hover-L {
  float: left;
}
div.Pic .overlay1 .Butn .Butn-Hover-R {
  border-left: none;
  float: right;
}
div.Pic .con:hover .overlay1 {
  height: 97.5%;
}
div.Pic .con1:hover .overlay1 {
  height: 97.5%;
}
div.Pic .con2:hover .overlay1 {
  height: 97.5%;
}
div.Pic .con3:hover .overlay1 {
  height: 97.5%;
}
div.Pic .con4:hover .overlay1 {
  height: 97.5%;
}
div.Pic .con5:hover .overlay1 {
  height: 97.5%;
}
div.Pic .con6:hover .overlay1 {
  height: 97.5%;
}
div.Pic .con7:hover .overlay1 {
  height: 97.5%;
}
div.Pic .con8:hover .overlay1 {
  height: 97.5%;
}

/*------------------------/Main------------------------*/
/*------------------------Sub-Main--------------------*/
div.Sub_Main_T {
  position: relative;
  text-align: center;
  margin-top: 300px;
}
div.Sub_Main_T h1 {
  position: absolute;
  padding-left: 380px;
  font-size: 20px;
}
div.Sub_Main_T button {
  background-color: #EF5F60;
  width: 120px;
  height: 35px;
  border: none;
  color: #ffff;
  margin-top: 60px;
  margin-right: 44px;
}
div.Sub_Main_T button a {
  color: #ffff;
  margin: 0;
  padding: 0;
}
div.Sub_Main_T span {
  font-size: 12px;
}

div.Sub_Main_B {
  position: relative;
  margin-top: 50px;
}
div.Sub_Main_B h6 {
  padding-top: 40px;
}

/*------------------------/Sub-Main--------------------*/
/*-------------------------social---------------------*/
div.Social {
  position: relative;
  margin-top: 50px;
}
div.Social ul li {
  display: inline-block;
}
div.Social ul li img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 70px;
}
div.Social ul li h1 {
  margin-top: 20px;
  margin-left: 80px;
}
div.Social ul li h6 {
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
}

div.Tp {
  margin-top: 80px;
}
div.Tp .Top-F {
  margin: 0;
  padding-bottom: 30px;
}

div.Top-L-Footer {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  margin-left: -2px;
}
div.Top-L-Footer .L1 {
  position: relative;
  float: left;
}
div.Top-L-Footer .L2 {
  position: relative;
  display: inline-block;
  float: right;
  padding-right: 20px;
}

div.Top-R-Footer {
  position: relative;
  display: inline-block;
  width: 50%;
  float: right;
}
div.Top-R-Footer .R1 {
  display: inline-block;
  float: left;
}
div.Top-R-Footer .R2 {
  display: inline-block;
  float: right;
  padding-right: 20px;
}

.Common-LR {
  color: #D3D3D3;
}

.MC {
  margin-top: 42px;
}

/*------------------------/Social--------------------*/
/*-------------------------FOOTER--------------------*/
.Footer {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 130px;
  background-color: #2D2D30;
  text-align: center;
  height: 200px;
}
.Footer p {
  margin-bottom: 20px;
  margin-top: 80px;
}
.Footer p i.fa {
  font-size: 14px;
}
.Footer div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  display: inline-block;
  color: white;
}
.Footer div i.fa {
  margin: auto;
  padding-top: 7px;
}
.Footer .Feed {
  background-color: #FBAA56;
}
.Footer .Face-Book {
  background-color: #667EB7;
}
.Footer .Tumblr {
  background-color: #6CC1EB;
}
.Footer .Dribbble {
  background-color: #E498C3;
}
.Footer .Pin {
  background-color: #DA535B;
}
.Footer h1 a i.fa {
  margin-right: 1100px;
  font-size: 50px;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
  cursor: pointer;
}

/*-------------------------FOOTER--------------------*/

/*# sourceMappingURL=Tem.css.map */
